	<h1>I'm With Local</h1>
  <div class="row text-center">
    <img src="http://static.guim.co.uk/sys-images/Education/Pix/pictures/2013/1/17/1358446759827/A-three-toed-tree-sloth-h-008.jpg" alt="http://static.guim.co.uk/sys-images/Education/Pix/pictures/2013/1/17/1358446759827/A-three-toed-tree-sloth-h-008.jpg" class="img-rounded">  
  </div>
    <form action="/login" method="post">
              <fieldset> 
                  <legend>Login</legend>
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control" id="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div> 
              </fieldset> 
              <fieldset>
                <legend>Create your account and be with local.</legend>
                  <div id="info-container">
                    <div class="form-group">
                      <label for="age">Age</label>
                      <input type="text" class="form-control" id="age" placeholder="Age">
                    </div>
                    <p>
                      <div class="info">
                        <label for="male-radio">Male</label>
                        <input type="radio" id="male-radio" name="gender" value="male">
                        <label for="female-radio">Female</label>
                        <input type="radio" id="female-radio" name="gender" value="Female">
                    </p>
                      </div>
                    <p>
                      <div class="info">
                        <label for="hnhood-field">My Home Neighbourhood</label>
                        <select name="My Home Nieghbourhood" id="hnhood-field">

                          <option>West End</option>
                          <option>Yaletown/option>
                          <option>Coal Harbour</option>
                          <option>Gastown</option>
                          <option>False Creek</option>
                          <option>Chinatown</option>
                          <option>Downtown Eastside</option>
                          <option>Dunbar-Southlands</option>
                          <option>Fairview Granville Island</option>
                          <option>South Cambie</option>
                          <option>Kerrisdale</option>
                          <option>Kitsilano</option>
                          <option>Marpole</option>
                          <option>Oakridge</option>
                          <option>Shaughnessy</option>
                          <option>Point Grey</option>
                          <option>Commercial Drive</option>
                          <option>Grandview-Woodland</option>
                          <option>Hastings-Sunrise</option>
                          <option>Kensington</option>
                          <option>Killarney</option>
                          <option>Mount Pleasant</option>
                          <option>Strathcona</option>
                          <option>Victoria-Fraserview</option>
                          <option>Renfrew-Collingwood</option>
                          <option>Out of Town or Other</option>
                        </select>
                      </div>
                    </p>
                    <p> 
                      <div class="info">
                        <label for="property-field">Property</label>
                        <select name="Property" id="property-field">
                          <option>1124 Commercial</option>
                          <option> 775 West Broadway</option>
                          <option> 857 Denman Street</option>
                          <option> 1223 Victoria Drive</option>

                        </select>
                      </div>
                    </p>
                    </div>
                </fieldset>
                    <p>
                       <button type="button" class="btn btn-primary">Submit</button>  
                    </p>
                </div>
    </form>