	<h1>I'm With Local</h1>
  <div class="row text-center">
    <img src="http://static.guim.co.uk/sys-images/Education/Pix/pictures/2013/1/17/1358446759827/A-three-toed-tree-sloth-h-008.jpg" alt="http://static.guim.co.uk/sys-images/Education/Pix/pictures/2013/1/17/1358446759827/A-three-toed-tree-sloth-h-008.jpg" class="img-rounded">  
  </div>
    <form action="/login" method="post">
              <fieldset> 
                  <legend>Login</legend>
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div> 
              </fieldset> 
                     <div class="form-group">
                    <p>
                       <button type="button" class="btn btn-primary">Submit</button>  
                    </p>
                  </div>
    </form>